# Servidor local
VITE_PORT=3000
VITE_APP_TITLE=Foodlink

# Base de datos MySQL en Orange Pi
DB_HOST=orangepi4pro
DB_PORT=3306
DB_USER=root
DB_PASSWORD=pato
DB_NAME=FOODLINK

# Servicio de correos EmailJS (completa estas variables cuando tengas tus claves)
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
